@model SendMessageViewModel;
@{
    ViewBag.Title = "Send me a message";
}

<h1 class="text-center pb-2">@ViewBag.Title</h1>
<form asp-area="Trainer" asp-controller="Message" asp-action="SendMessage" method="post">
        <Partial name="_SendMessagepartial" model="Model"/>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
